<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/head.html' %}
</head>

<body>
    <section id="container">
        <!--header start-->
        {% include 'includes/header.html' %}
        <!--header end-->
        <!--sidebar start-->
        {% include 'includes/left_sidebar.html' %}
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                {% block content %}{% endblock %}
            </section>
        </section>
        <!--main content end-->
        <!--right sidebar start-->
        {% include 'includes/right_sidebar.html' %}
        <!--right sidebar end-->
    </section>
    <!-- Placed js at the end of the document so the pages load faster -->
    <!--Core js-->
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-route/angular-route.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-css/angular-css.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/gridster/dist/jquery.gridster.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-1.10.1.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery.easing/js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/moment/min/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/underscore/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/clndr/clndr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery.scrollTo/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/slimScroll/jquery.slimScroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/dcjqaccordion/js/jquery.dcjqaccordion.2.7.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery.cookie/jquery.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jquery.nicescroll/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/customSelect/jquery.customSelect.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/jscrollpane/script/jquery.jscrollpane.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/gridster/dist/jquery.gridster.min.js') }}"></script>
    <!--Common script init for all pages-->
    <script src="{{ url_for('static', filename='angular/app.js') }}"></script>
    <script src="{{ url_for('static', filename='angular/controllers.js') }}"></script>
    <script src="{{ url_for('static', filename='angular/directives.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/grid.js') }}"></script>
</body>

</html>
