<div class="row">
    <div class="col-md-12">
        <div class="gridster">
            <ul>
                <clock></clock>
                <li data-row="1" data-col="5" data-sizex="5" data-sizey="2">
                    <header class="panel-heading">
                        Weather <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-cog"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                        </span>
                    </header>
                    <section class="panel">
                        <div class="panel-body">
                            <div style="width: 60px; height: 110px;">
                            </div>
                        </div>
                    </section>
                </li>
                <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="top-stats-panel">
                                <div class="canvas" style="width: 60px; height: 110px;">
                                    <h4 class="widget-h">Monthly Expense</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="top-stats-panel">
                                <div class="canvas" style="width: 60px; height: 110px;">
                                    <h4 class="widget-h">Monthly Expense</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="top-stats-panel">
                                <div class="canvas" style="width: 60px; height: 110px;">
                                    <h4 class="widget-h">Monthly Expense</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="top-stats-panel">
                                <div class="canvas" style="width: 60px; height: 110px;">
                                    <h4 class="widget-h">Monthly Expense</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="top-stats-panel">
                                <div class="canvas" style="width: 60px; height: 110px;">
                                    <h4 class="widget-h">Monthly Expense</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="top-stats-panel">
                                <div class="canvas" style="width: 60px; height: 110px;">
                                    <h4 class="widget-h">Monthly Expense</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="top-stats-panel">
                                <div class="canvas" style="width: 60px; height: 110px;">
                                    <h4 class="widget-h">Monthly Expense</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="top-stats-panel">
                                <div class="canvas" style="width: 60px; height: 110px;">
                                    <h4 class="widget-h">Monthly Expense</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="top-stats-panel">
                                <div class="canvas" style="width: 60px; height: 110px;">
                                    <h4 class="widget-h">Monthly Expense</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="top-stats-panel">
                                <div class="canvas" style="width: 60px; height: 110px;">
                                    <h4 class="widget-h">Monthly Expense</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="top-stats-panel">
                                <div class="canvas" style="width: 60px; height: 110px;">
                                    <h4 class="widget-h">Monthly Expense</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
                <li data-row="2" data-col="4" data-sizex="2" data-sizey="1">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="top-stats-panel">
                                <div class="canvas" style="width: 60px; height: 110px;">
                                    <h4 class="widget-h">Monthly Expense</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </li>
            </ul>
        </div>
    </div>
</div>
